body {
    background-color: rgb(193, 237, 255);
    text-align: center;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

p {
    font-size: 1em;
}

header {
    background-image: url("images/background.jpg");
    background-repeat: repeat;
    background-position: center center;

}

.heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(150, 203, 233);
    padding: 10px;
    width: 50%;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 0;
}

.this {
    border-radius: 25px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

.best {
    border-style: solid;
    border-color: hotpink;
    border-radius: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blanchedalmond;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 12px 14px;
    text-decoration: none;
    color: black;
    text-align: center;
}

nav li a:hover {
    background-color: orange;
}

nav .active {
    background-color: orange;
}

.absolute {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 5px;
}

.absolute:hover {
    transform: scale(1.5);
    transform: matrix3d(5);
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.imageJosh {
    grid-column: 4 / span 1;
}

.who {
    border-style: solid;
    border-color: black;
    background-color: red;
    margin: 20px;
    grid-column: 1 / span 3;
}

.what {
    border-style: solid;
    border-color: black;
    background-color: lightsalmon; 
    margin: 20px;
    grid-column: 2 / span 3;
}

.when {
    border-style: solid;
    border-color: black;
    background-color: yellow; 
    margin: 20px;
    grid-column: 3 / span 2;
}

.where {
    border-style: solid;
    border-color: black;
    background-color: green; 
    margin: 20px;
    grid-column: 1 / span 1;
    grid-row: 4 / span 2;
    overflow: auto;
}

.why {
    border-style: solid;
    border-color: black;
    background-color: purple; 
    margin: 20px;
    grid-row: 6;
}